amqp==5.3.1
annotated-types==0.7.0
anyio==4.11.0
asgiref==3.10.0
astroid==3.3.11
asttokens==3.0.0
attrs==25.4.0
beautifulsoup4==4.13.4
billiard==4.2.2
boto3==1.39.4
botocore==1.39.17
Brotli==1.1.0
celery==5.5.3
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
coverage==7.11.0
cryptography==46.0.3
decorator==5.2.1
dill==0.4.0
distro==1.9.0
Django==5.2.7
django-configurations==2.5.1
django-cors-headers==4.7.0
django-countries==7.6.1
django-csp==4.0
django-extensions==4.1
django-filter==25.1
django-lasuite==0.0.14
django-parler==2.3
django-redis==6.0.0
django-storages==1.14.6
django-test-migrations==1.5.0
django-timezone-field==7.1
django-treebeard==4.7.1
djangorestframework==3.16.0
dockerflow==2024.4.2
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.7.1
easy-thumbnails==2.10
execnet==2.1.1
executing==2.2.1
factory_boy==3.3.3
Faker==37.11.0
freezegun==1.5.2
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
icdiff==2.0.7
idna==3.11
impress==3.8.2
inflection==0.5.1
iniconfig==2.3.0
ipdb==0.13.13
ipython==9.4.0
ipython_pygments_lexers==1.1.1
isort==6.1.0
jedi==0.19.2
jiter==0.11.1
jmespath==1.0.1
josepy==2.2.0
joserfc==1.4.0
jsonschema==4.24.0
jsonschema-specifications==2025.9.1
kombu==5.5.4
lxml==6.0.0
Markdown==3.8.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mozilla-django-oidc==4.0.1
nested-multipart-parser==1.5.0
openai==1.95.0
packaging==25.0
parso==0.8.5
pillow==12.0.0
pip==24.3.1
platformdirs==4.5.0
pluggy==1.6.0
pprintpp==0.4.0
prompt_toolkit==3.0.52
psycopg==3.2.9
psycopg-binary==3.2.9
pure_eval==0.2.3
pycparser==2.23
pycrdt==0.12.25
pydantic==2.12.3
pydantic_core==2.41.4
pyfakefs==5.9.1
Pygments==2.19.2
PyJWT==2.10.1
pylint==3.3.7
pylint-django==2.6.1
pylint-plugin-utils==0.9.0
pytest==8.4.1
pytest-cov==6.2.1
pytest-django==4.11.1
pytest-icdiff==0.9
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-magic==0.4.27
PyYAML==6.0.3
redis==5.2.1
referencing==0.37.0
requests==2.32.4
requests-toolbelt==1.0.0
responses==0.25.7
rpds-py==0.27.1
ruff==0.12.2
s3transfer==0.13.1
sentry-sdk==2.32.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
sqlparse==0.5.3
stack-data==0.6.3
tomlkit==0.13.3
tqdm==4.67.1
traitlets==5.14.3
types-requests==2.32.4.20250611
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
whitenoise==6.9.0
